<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nicks Weather App</title>
    <link rel="stylesheet" href="src/assets/css/style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>

    <h1 id="top-buffer">Nicks Weather App</h1>

    <div id="app">
        <div v-if="showWeather">
            <aside class="leftSide">
                <!-- <label for="City-Search" style="padding-right: 5px;" >Search Weather</label> -->
                <input type="text" name="City-Search" id="searchForm" placeholder="Search City...">
                <button @click="fetchWeatherData" v-show="showWeather">Search</button>
            </aside>
            <!-- <p class="visWea">{{ weather1 }} - {{ weather2 }} - {{ weather3 }}</p> -->
            <div class="centerDisplay">
                <p id="centerTitle">5 Day Forcast</p>
                <ul>
                    <li>Monday</li>
                    <li>Tuesday</li>
                    <li>Wednesday</li>
                    <li>Thursday</li>
                    <li>Friday</li>
                </ul>
        </div>
        </div>
        <!-- testing Vue functions -->
        <!-- <button v-on:click="test3++">Increase Last</button>
        <button @click="test3--">Decrease Last</button> -->

        <button class="startBtn" style="max-height: 20px; " @click="toggleShowWeather">
            <span v-if="!showWeather">Open Weather App</span>
            <span v-else id="closeWea">Close Weather App</span>
        </button>

    </div>


    <script src="src/app.vue"></script>
    <script src="src/main.js"></script>

</body>

</html>